body {
    display: flex;
    height: 100vh;
}
.box1 {
    position: relative;
    width: 21rem;
    height: 16rem;
    margin-top: 7rem;
    margin-left: 17rem;
    text-align: center;
    background-color: deepskyblue;
    cursor: pointer;
    overflow: hidden;
}


.box1:after {
    content: '';
    position: absolute;
    width: 21rem;
    height: 16rem;
    background-color: blueviolet;
    top:0;
    right:0;
    overflow: visible;
    visibility: hidden;
    transform: translateX(21rem);
    animation: animate1 3s ease-in-out 1s infinite ;
    z-index: 1;
}


.box1:hover:after {
    visibility: visible;
}


@keyframes animate1 {
    from {
        transform: translateX(0rem);
    }
    to {
        transform: translateX(0rem);
    }
    from {
        width: 0%;
    }

}























@media (max-width :500px) {
    body {
        text-align: center;
    }
    .box1 {
        position: absolute;
   
    }
    

}

@media (min-width:501px) and (max-width :768px) {
    body {
        text-align: center;
    }
    .box1 {
        position: absolute;
   
    }

}
