.container {
    width: 800px;
    height: 300px;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
    margin: 60px 250px ;
    color: black;
    
}
.Header {
    background-color:orange;
    width: 60%;
    height: 30px;
    margin-left: 165px;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
}
.Side {
    background-color: green;
    width: 25%;
    height: 185px;
    margin-left: 165px;
    margin-top:3px;
    border: 1px solid black;
    text-align: left;
}

.Main {
    background-color:purple;
    width: 34.5%;
    height: 185px;
    margin-top: -187px;
    margin-left: 370px;
    border: 1px solid black;
    text-align: right;

}

.Footer {
    background-color: blue;
    width: 60%;
    height: auto;
    border: 1px solid black;
    margin-top:1px;
    margin-left:165px;
    text-align: center;
    
}