body {
    display: flex;
    justify-content: row;
    background: grey;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body h1 {
    text-align: left;
}

@media (max-width :500px) {
    body {
        text-align: center;
    }
    #item1 {
        position: absolute;
    }
    #item2 {
        position: absolute;
    }
    #item3 {
        position: absolute;
    }
    #item4 {
        position: absolute;
    }

}

@media (min-width:501px) and (max-width :768px) {
    body {
        text-align: center;
    }
    #item1 {
        position: absolute;
    }
    #item2 {
        position: absolute;
    }
    #item3 {
        position: absolute;
    }
    #item4 {
        position: absolute;
    }

}

@media (min-width:769px) and (max-width :1200px) {
    body {
        text-align: center;
    }
    #item1 {
        position: absolute;
    }
    #item2 {
        position: absolute;
    }
    #item3 {
        position: absolute;
    }
    #item4 {
        position: absolute;
    }
}

@media (min-width:1200px) {
    body {

    }

}

@media (max-height:500px) {
    body {

    }

}